.vscode
/contracts/target
/zksnark/target
/zksnark/cli
/target
**/*.rs.bk
Cargo.lock
/pkg
/bin
*.log
.envrc
.direnv*
/cli/target
/neardev

.DS_Store
contracts/.DS_Store
contracts/neardev/
contracts/node_modules/
contracts/package-lock.json
contracts/setup/.DS_Store
contracts/setup/target/
contracts/simple/.DS_Store
contracts/simple/neardev/
contracts/simple/target/
contracts/yarn.lock